[Unit]
Description=Sigil Secret Service Daemon
Documentation=https://github.com/atrium-os/sigil
Wants=sigil.socket dbus.socket
After=sigil.socket dbus.socket
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/sigil
Restart=on-failure
RestartSec=2

# Industrial Unprivileged Hardening
# Guaranteed safe across all Linux distributions without unprivileged user namespace dependencies
NoNewPrivileges=yes
LockPersonality=yes
RestrictRealtime=yes
UMask=0077

# Headless / IoT Provisioning (Optional override)
# Environment="SIGIL_PASSWORD=your_secure_device_password"

[Install]
WantedBy=default.target
